p {
    font-family: 'Courier New', Courier, monospace;
  }
  
  canvas {
    border: 2px solid rgba(0,0,0,0.12);
    transition: 300ms;
    border-radius: 4px;
  }
  
form{
  font-family: 'Courier New', Courier, monospace;
  width: 40vh;
  height: 35vh;
  display: inline-block;
  vertical-align:top;
  margin: 0px 5px;
}
input[type="number"]
{
  font-family: 'Courier New', Courier, monospace;
}
textarea
{
  font-family: 'Courier New', Courier, monospace;
}
canvas{
  display: inline-block;
}
textarea {
  width: 40vh;
  height: 35vh;
}

input[type="text"] {
  font-family: 'Courier New', Courier, monospace;
}

#fontSelect {
  margin-top: 0px;
  font-size: 0.8em;
}

#dlBut{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}
